
.login-container {
  width: 90%;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative; 
 
}

.login-container >  .card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px; 
   border: 1px solid #6c757d;
}

.login-container  h2,a {
  text-align: center;
  color: #333;
  text-decoration: none;
}

.login-container  form {
  display: flex;
  flex-direction: column;
}

.login-container  input ,textarea{
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
  color: #333;
}

.login-container    input:focus {
  border-color: #555;
}

.login-container  button {
  
  background-color: #9da993;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-container  button:hover {
  background-color: #332f2f;
}
